<%- include('partials/header')%>
    <div class="container-xl p-5 text-center">
      <div class="container text-center my-3"><a href="/students/add">Add Student</a></div>
       
      <div class="input-group mb-3">
        <input type="text" id="myInput" onkeyup="search()" class="form-control" placeholder="Search students email">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" onclick="search()">Search</button>
        </div>
      </div>
      <% if(alert.msg){ %>
        <div class="container p-3">
          <div class="alert alert-info" role="alert">
            <%= alert.msg %>
          </div>
        </div>
      <% } %>
      <table class="table table-striped" >
        <thead>
          <tr>
            <th scope="col" class="text-center">ID</th>
            <th scope="col" class="text-center">First Name</th>
            <th scope="col" class="text-center">Last Name</th>
            <th scope="col" class="text-center">Email</th>
            <th scope="col" class="text-center">Gender</th>
            <th scope="col" class="text-center">Birth Date</th>
            <th scope="col" class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach( list => { %>
              <tr>
                <td class="text-center"><%= list.id %></td>
                <td class="text-center"><%= list.first_name %></td>
                <td class="text-center"><%= list.last_name %></td>
                <td class="text-center"><%= list.email %></td>
                <td class="text-center"><%= list.gender %></td>
                <td class="text-center"><%= `${list.birth_date.getDate()}-${list.birth_date.getMonth()+1}-${list.birth_date.getFullYear()}` %></td>
                <td class="text-center"><a href="/students/edit/<%= list.id %>"><button type="button" class="btn btn-primary">Edit</button></a>  <a href="/students/delete/<%= list.id %>"><button type="button" class="btn btn-danger">Delete</button></a></td>
              </tr>
            <% }) %>
        </tbody>
      </table>
      <div class="container pt-3">
        <a href="/">Back to home</a>
      </div>
    </div>
    <script>
      function search(){
          let txtValue
          let input = document.getElementById('myInput')
          let filter = input.value.toUpperCase()
          let table = document.getElementById('myTable')
          let tr = document.getElementsByTagName('tr')

          for(let i = 0; i < tr.length; i++){
              let td = tr[i].getElementsByTagName("td")[3]
              if(td){
                txtValue = td.textContent || td.innerText
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
              }
            }   
          }
        }
    </script>
    
    

<%- include('partials/footer')%>
